<p id="notice"><%= notice %></p>

<h1>Listing Ability Scores</h1>

<table>
  <thead>
    <tr>
      <th>Strength</th>
      <th>Dexterity</th>
      <th>Constitution</th>
      <th>Intelligence</th>
      <th>Wisdom</th>
      <th>Charisma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ability_scores.each do |ability_score| %>
      <tr>
        <td><%= ability_score.strength %></td>
        <td><%= ability_score.dexterity %></td>
        <td><%= ability_score.constitution %></td>
        <td><%= ability_score.intelligence %></td>
        <td><%= ability_score.wisdom %></td>
        <td><%= ability_score.charisma %></td>
        <td><%= link_to 'Show', ability_score %></td>
        <td><%= link_to 'Edit', edit_ability_score_path(ability_score) %></td>
        <td><%= link_to 'Destroy', ability_score, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ability score', new_ability_score_path %>
