<p id="notice"><%= notice %></p>

<p>
  <strong>Strength:</strong>
  <%= @ability_score.strength %>
</p>

<p>
  <strong>Dexterity:</strong>
  <%= @ability_score.dexterity %>
</p>

<p>
  <strong>Constitution:</strong>
  <%= @ability_score.constitution %>
</p>

<p>
  <strong>Intelligence:</strong>
  <%= @ability_score.intelligence %>
</p>

<p>
  <strong>Wisdom:</strong>
  <%= @ability_score.wisdom %>
</p>

<p>
  <strong>Charisma:</strong>
  <%= @ability_score.charisma %>
</p>

<%= link_to 'Edit', edit_ability_score_path(@ability_score) %> |
<%= link_to 'Back', ability_scores_path %>
