<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %> | Andromede</title>
</head>


<body>
<h1>Welcome to Androme.de!</h1>

<p>My favorite star is <%= @str %><%= Star.first.common_name %></p>

<div id="main_wrap">
<canvas id="main_canv" width="800" height="450">
<p>Your browser won't draw this.</p>
</canvas>
</div>


</body>
</html>

<!--
<div id="computress">
<div id="home_console">
	<textarea id="hm_disp_txt" readonly>Zzzzzz....</textarea>
</div>
<div id="home_input">
	<div id="hm_inp_txt">></div>
	<input type="text" id="user_inp" placeholder="...say &quot;hello&quot;?">
	<%= link_to "send", "#", data: {behavior: "computress-listen"}, id: "talkbutton", class: "comptrss_mono_txt" %>
	<%= link_to "C", "#", data: {behavior: "computress-listen-clear"}, id: "clearbutton", class: "comptrss_mono_txt" %>
	<%= link_to "pwr", "#", data: {behavior: "computress-power"}, id: "pwrbutton", class: "comptrss_mono_txt" %>
<%= link_to "reload", "#", data: {behavior: "computress-reload"}, id: "rldbutton", class: "comptrss_mono_txt" %>
</div>
</div>

-->
